body{
  margin: 0;
  padding: 0;
  background-color: #3FA5D0;
  color: #ffffff;
}
body, h1, h2, h3 {
  font-family: 'Montserrat' !important;
  font-weight: normal;
}
h3 {
  margin: 3px 5px;
}
textarea {
  font-family: 'Montserrat' !important;
  overflow: hidden;
  resize: none;
  padding: 5px;
  width: 100%;
}
.title {
  text-align: center;
  font-size: 2em;
}
.button {
  top: 20px;
  display: flex;
  align-Items: center;
  justify-content: center;
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  padding: 5px;
  max-width: 140px;
  max-height: 16px;
  font-weight: bold;
  transition: .25s;
}

.buttons>.button:nth-child(1) {
  transform: translate(0, 0);
  transition: .25s;
}
.buttons>.button:nth-child(2) {
  transform: translate(0, 0);
  transition: .25s;
  transition-delay: .1s;
}
.buttonsHovered>.button:nth-child(1) {
  position: relative;
  top: 10px;
  transform: translate(0, -10px);
  transition: .25s;
}
.buttonsHovered>.button:nth-child(2) {
  position: relative;
  top: 10px;
  transform: translate(0, -10px);
  transition: .25s;
  transition-delay: .1s;
}
.test {
  position: absolute;
  right: -12px;
  bottom: 0px;
  width: 100px;
}
.inputHovered {
  border: 3px solid #3FA5D0 !important;
  border-radius: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.inputNotHovered {
  border: 3px solid transparent !important;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.page {
  width: 21cm;
  height: 29.7cm;
  padding: 2.54cm;
  border: 1px solid #efefef;
  background-color: #ffffff;
  margin: 2cm auto; 
  box-shadow: 8px 8px 5px #888;
  color: #000000;
  font-family: 'Montserrat' !important;
  font-weight: normal;
}
.page .button {
  border: 3px solid #3FA5D0;
  color: #3FA5D0;
}

.selected {
  background-color: #43C883 !important;
  border-color: #23a873 !important;
  color: #ffffff;
}
.unselected {
  background-color: transparent !important;
  color: #000000;
}
.spaceBetween {
  justify-content: space-between;
}

.normalButton {
  padding: 10px 5px;
}

.squareButton {
  width: 30px;
  height: 30px;
}
.none {
  display: none !important;
}
.show {
  display: inherit;
}

@media print {
  .noPrint{
    display: none;
  }
  .page {
    width: 21cm;
    height: 29.7cm;
    padding: 2.54cm;
    margin: 0;
    border: none;
    box-shadow: none;
    font-family: 'Montserrat' !important;
    font-weight: normal;
  }
  #idToPrint {
    margin: 0;
  }
}
@media only screen and (max-width: 1200px) {
  body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #3FA5D0;
  }
  .button {
    top: 20px;
    display: flex;
    align-Items: center;
    justify-content: center;
    background-color: transparent;
    border: 3px solid #3FA5D0;
    color: #3FA5D0;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
    padding: 5px;
    max-width: 140px;
    max-height: 16px;
    font-weight: bold;
    transition: .25s;
  }
  .page {
    width: 21cm;
    height: 29.7cm;
    padding: 2.54cm;
    margin: 0;
    border: none;
    border-bottom: 1px dashed black;
    background-color: #ffffff;
    float: right; 
    box-shadow: none;
    color: #000000;
    font-family: 'Montserrat' !important;
    font-weight: normal;
  }

}
@page{size:auto; margin:5mm;}
